.navbar-brand {
    font-family: 'Fredoka One', sans-serif;
    }

.navbar,
.navbar-text {
    background-color: #452049;
    margin: 15px;
    margin-bottom: 100px;
    font-family:'Montserrat', sans-serif;
    }

.col-lg-6,
.col-lg-4 {
    padding: 15px;
}

.col-lg-12 {
    background-color: tan;
    border-bottom: 3px solid white;
}

.hunterGreen{
    background-color: #436436;
    border: 3px solid white;
    color: white;
}

#btn-yellow{
    background-color: goldenrod;
    color: white;
    border: gold;
}

#topForm{
    padding-top: 15px;
}

img {
    width: 540px;
}

h1 {
    font-family:'Montserrat', sans-serif;
    text-align: center;
    padding-top: 15px;
}

h2 {
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    padding-bottom: 15px;
}

p {
    font-family: 'Roboto Slab', serif;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: white;
    
}

a:hover {
    color: lightgrey;
    text-decoration: none;
}

footer {
    margin-top: 100px;
}

@media screen and (max-width: 980px) {
    img {
        width: 700px;
    }
  }

@media screen and (max-width: 768px) {
    img {
        width: 705px;
    }
    
    .navbar,
    .navbar-text {
        margin-bottom: 10px;
  }

  footer {
    margin-top: 10px;
}
}

@media screen and (max-width: 640px) {
    img {
        width: 520px;
    }

    .navbar,
    .navbar-text {
        margin-bottom: 10px;
  }

  footer {
    margin-top: 10px;
}
}
